@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('./variables');

/* * {
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
} */

.header {
  width: 100%;
  display: flex;
  gap: 30px;
  background-color: var(--background-color-base);
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 80px;
  margin-bottom: 24px;
  box-shadow: 0px 1px 0px 0px rgba(189, 189, 189, 0.2);
}

.logo {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  color: var(--heading-color);
  font-size: 18px;
  line-height: 28px;
  align-self: center;
  margin-right: auto;
}

.buttonIn {
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 18px !important;
  line-height: 28px;
  color: var(--heading-color);
  width: 109px;
  height: 51px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.buttonUp {
  font-size: 18px;
  line-height: 28px;
  color: var(--sucess-color);
  border: 1px solid var(--sucess-color);
  border-radius: 5px;
  background-color: transparent;
  width: 109px;
  height: 51px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonCreateArticle {
  width: 113px;
  height: 31px;
  font-size: 14px;
  line-height: 22px;
}

.profile {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  gap: 16px;
  align-items: center;
}

.username {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.avatar {
  border-radius: 50%;
}

.buttonLogout {
  border-color: var(--text-color);
  color: var(--text-color);
}

body {
  background-color: #ebeef3;
}
