.paginationWapper {
  display: flex;
  justify-content: center;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #1890ff;
}

.ant-pagination .ant-pagination-item-active:hover a {
  color: #ebeef3 !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #ebeef3 !important;
}

.ant-pagination-options {
  display: none;
}

* {
  box-sizing: border-box;
  font-optical-sizing: auto;
  /* font-weight: 300; */
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
